<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student list</title>
</head>

<body>
    <h1>students list</h1>
    <table>
        <tr>
            <th>sr no</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile number</th>
        </tr>
        <% if(students.length) { %>
            <% for (let i=0; i < students.length; i++) { %>
                <tr>
                    <td>
                        <%- students[i].id %>
                    </td>
                    <td>
                        <%- students[i].name %>
                    </td>
                    <td>
                        <%- students[i].email %>
                    </td>
                    <td>
                        <%- students[i].mno %>
                    </td>
                </tr>

            <% } %>
        <% }else { %>
            <h2>students not found</h2>
        <% } %>
    </table>

</body>

</html>